:root {
  --c-white: #ffffff;
  --c-white-soft: #D6D6D6;

  --c-black: #202020;
  --c-black-soft: #333533;
  --c-black-mute: #404240;
  --c-yellow: #FFD100;

  --font-type: 'Inter', sans-serif;
  --font2-type: 'Merriweather', serif;
}

a {
  color: var(--c-white);
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  color: var(--c-white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-type);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 64px 0  124px 0;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font2-type);
  color: var(--c-white);
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font2-type);
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}

a.animated {
  display: inline-block;
  position: relative;
  color: var(--c-black);
}

a.animated::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: var(--c-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a.animated:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}