:root {
  --c-white: #ffffff;
  --c-white-soft: #D6D6D6;

  --c-black: #202020;
  --c-black-soft: #333533;
  --c-black-mute: #404240;
  --c-yellow: #FFD100;

  --font-type: 'Inter', sans-serif;
  --font2-type: 'Merriweather', serif;
}

a {
  color: var(--c-white);
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--c-white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-type);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 64px 0  124px 0;
}
